@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }
*:not(i){
    font-family: 'Open Sans', sans-serif!important;

}
.csc-header > h2{
	/* background-image: url("../img/logos/h1-pfeil-colorbox.png"); */
	/* text-shadow: 1px 1px #000000; */
	background-repeat: no-repeat;
    padding-left: 28px;
    line-height: 30px;
}
.bg-light-blue{
    background-color: #41bced70;
    padding: 20px;
    border-radius: 10px;
}
.csc-header.csc-header-n3 > h2{
    background-image: url('');
    /* text-shadow: 1px 1px #000000; */
	background-repeat: no-repeat;
    padding-left: 28px;
    line-height: 30px;
}
body, p{
    color: #3e3e3eeb !important;
}
ul:nth-of-type(1)

.dropdownlang:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdownlang>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }

.imggray{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


/* Khanh */

.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }


  .box-productlist{
		width: 100%;
		margin-bottom: 15px;
}
table{
		border: 0;
		/* border-collapse: collapse; */
		border-spacing: 0;
		empty-cells: show;
		font-size: 100%;
}
.box-productlist tr:nth-child(odd){
		background: #e9e9e9;
}
.store_en .box-productlist tr td.qty{
		width: 55px;
}
.box-productlist tr td.qty{
		color: #989898;
		width: 35px;
}
.box-productlist td{
		padding: 10px;
}
caption,th,td{
		vertical-align: top;
		text-align: left;
		font-weight: normal;
}
.box-productlist caption{
		padding: 30px 5px 0;
    caption-side: top;
}
.box-productlist .sts4, .box-productlist .sts8, .box-productlist .sts72h, .box-productlist .sts72{
  display: none;
}
.box-productlist a{
  /* pointer-events: none;                */
}
.pagination {
  display: flex;
  list-style: none;
  border-radius: .25rem;
  margin: 20px 0;
  padding: 0;
  justify-content: center;
}

.page-link {
  position: relative;
  display: block;
  padding: .75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.homepage .page-link,
.listing .page-link {
  background-color: #fff;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.subnavi_3{
  list-style: none;
}